<a href="https://colab.research.google.com/github/TilakVenigalla/Python/blob/main/Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Welcome to Python Demo**

In [ ]:
! python --version

Python 3.11.12

In [ ]:
# This is a single-line comment

"""
This is a multi-line comment.
It can span across multiple lines.
"""
print("Welcome to Python Demo!")

Welcome to Python Demo!

Variables are containers for storing data values. Python has no command for declaring a variable

In [ ]:
x = 5  # x is of type int
y = "Python"  # y is of type str
z = float(3) # z is of type float
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

# Assign values to multiple variables in one line
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

# Assign the same value to multiple variables in one line
x = y = z = "Orange"
print(x)
print(y)
print(z)

5
Python
3.0
<class 'int'>
<class 'str'>
<class 'float'>
Orange
Banana
Cherry
Orange
Orange
Orange

Casting : If you want to specify the data type of a variable, this can be done with casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is "+x)

myfunc()

Python is awesome

Python has the following data types built-in by default, in these categories:

Text Type :	str

Numeric Types :	int, float, complex

Sequence Types :	list, tuple, range

Mapping Type :	dict

Set Types :	set, frozenset

Boolean Type :	bool

Binary Types :	bytes, bytearray, memoryview

None Type :	NoneType bold text

In [ ]:
# Data types in Python

# Text Type: str
string_variable = "Hello, World!"
print(f"String: {string_variable}, Type: {type(string_variable)}")

# Numeric Types: int, float, complex
integer_variable = 10
float_variable = 3.14
complex_variable = 1j

print(f"Integer: {integer_variable}, Type: {type(integer_variable)}")
print(f"Float: {float_variable}, Type: {type(float_variable)}")
print(f"Complex: {complex_variable}, Type: {type(complex_variable)}")


# Sequence Types: list, tuple, range
list_variable = ["apple", "banana", "cherry"]
tuple_variable = ("apple", "banana", "cherry")
range_variable = range(6)  # Creates a sequence of numbers from 0 to 5

print(f"List: {list_variable}, Type: {type(list_variable)}")
print(f"Tuple: {tuple_variable}, Type: {type(tuple_variable)}")
print(f"Range: {list(range_variable)}, Type: {type(range_variable)}") # Convert range to list for printing


# Mapping Type: dict
dictionary_variable = {"name": "John", "age": 30}
print(f"Dictionary: {dictionary_variable}, Type: {type(dictionary_variable)}")

# Set Types: set, frozenset
set_variable = {"apple", "banana", "cherry"}
frozenset_variable = frozenset({"apple", "banana", "cherry"}) #immutable set
print(f"Set: {set_variable}, Type: {type(set_variable)}")
print(f"Frozenset: {frozenset_variable}, Type: {type(frozenset_variable)}")


# Boolean Type: bool
boolean_variable = True  # or False
print(f"Boolean: {boolean_variable}, Type: {type(boolean_variable)}")

# Binary Types: bytes, bytearray, memoryview (These are less commonly used)

# None Type: NoneType
none_variable = None
print(f"None: {none_variable}, Type: {type(none_variable)}")

String: Hello, World!, Type: <class 'str'>
Integer: 10, Type: <class 'int'>
Float: 3.14, Type: <class 'float'>
Complex: 1j, Type: <class 'complex'>
List: ['apple', 'banana', 'cherry'], Type: <class 'list'>
Tuple: ('apple', 'banana', 'cherry'), Type: <class 'tuple'>
Range: [0, 1, 2, 3, 4, 5], Type: <class 'range'>
Dictionary: {'name': 'John', 'age': 30}, Type: <class 'dict'>
Set: {'apple', 'banana', 'cherry'}, Type: <class 'set'>
Frozenset: frozenset({'apple', 'banana', 'cherry'}), Type: <class 'frozenset'>
Boolean: True, Type: <class 'bool'>
None: None, Type: <class 'NoneType'>

In [ ]:
print(5*6) # Multiply
print(5+6) #add
print(5-6)
print(10/2)
print(10**3)
print(10%3)
print(5+5*5)

30
11
-1
5.0
1000
1
30

Python Operators

In [ ]:

# Python Operators

# Arithmetic Operators
print("Arithmetic Operators:")
x = 15
y = 4

print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division
print(x % y)  # Modulus
print(x ** y) # Exponentiation
print(x // y) # Floor division


# Comparison Operators
print("\nComparison Operators:")
x = 10
y = 5
print(x == y)  # Equal
print(x != y)  # Not equal
print(x > y)   # Greater than
print(x < y)   # Less than
print(x >= y)  # Greater than or equal to
print(x <= y)  # Less than or equal to


# Logical Operators
print("\nLogical Operators:")
x = True
y = False
print(x and y) # Logical AND
print(x or y)  # Logical OR
print(not x)   # Logical NOT


# Bitwise Operators
print("\nBitwise Operators:")
x = 10
y = 4

print(x & y)  # Bitwise AND
print(x | y)  # Bitwise OR
print(x ^ y)  # Bitwise XOR
print(~x)    # Bitwise NOT
print(x << 2) # Bitwise left shift
print(x >> 2) # Bitwise right shift


# Assignment Operators
print("\nAssignment Operators:")
x = 5
print(x)
x += 3  # Same as x = x + 3
print(x)
x -= 3  # Same as x = x - 3
print(x)
x *= 3  # Same as x = x * 3
print(x)
x &= 3  # Same as x = x & 3
print(x)
x |= 3  # Same as x = x | 3
print(x)
x ^= 3  # Same as x = x ^ 3
print(x)
x >>= 3 # Same as x = x >> 3
print(x)
x <<= 3 # Same as x = x << 3
print(x)

# Identity Operators
print("\nIdentity Operators:")
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)  # Returns True because z is the same object as x
print(x is y)  # Returns False because x is not the same object as y, even if they have the same content
print(x == y)  # To demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y


print(x is not z)
print(x is not y)
print(x != y)

# Membership Operators
print("\nMembership Operators:")
x = ["apple", "banana"]
print("banana" in x)  # Returns True because a sequence with the value "banana" is in the list
print("pineapple" not in x) # Returns True because a sequence with the value "pineapple" is not in the list


#Other Operators
print("\nOther Operators:")
#Ternary Operator
a = 10
b = 20
result = a if a > b else b # Returns the value of a if a>b else returns b
result

Arithmetic Operators:
19
11
60
3.75
3
50625
3

Comparison Operators:
False
True
True
False
True
False

Logical Operators:
False
True
False

Bitwise Operators:
0
14
14
-11
40
2

Assignment Operators:
5
8
5
15
3
3
0
0
0

Identity Operators:
True
False
True
False
True
False

Membership Operators:
True
True

Other Operators:

20

**LIST :** Items are ordered, changeable, and allow duplicate values.

In [ ]:
mylist = ["Apple", "Banana", "Cherry"]

print(mylist) #Access list Items
print(mylist[-1]) #Access list Items

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

#print(thislist[2:5]) # Return the third, fourth, and fifth item

#print(thislist[0:4]) # Return

#print(thislist[2:]) # Return

#print(thislist[:4]) # Return

print(thislist[-4:]) # Return

mytuple = ("Apple", "Banana", "Cherry")

myset = {"Apple", "Banana", "Cherry"}

mydict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(type(mylist))
print(type(mytuple))
print(type(myset))
print(type(mydict))

['Apple', 'Banana', 'Cherry']
Cherry
['orange', 'kiwi', 'melon', 'mango']
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>