<a href="https://colab.research.google.com/github/TilakVenigalla/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is a Python library.

Pandas is used to analyze data.

In [ ]:
import pandas as pd

print(pd.__version__)

2.2.2

In [ ]:
# Pandas Series is like a column in a table
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

0    1
1    7
2    2
dtype: int64
x    1
y    7
z    2
dtype: int64

In [ ]:
# Pandas DataFrame is a 2 dimensional data structure
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd

df = pd.read_csv('/content/data.csv')

print(df.to_string())  # to_string() to print the entire DataFrame

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [ ]:
print(df.head(5)) #  first 10 rows of the DataFrame

print(df.tail()) # Print the last 5 rows of the DataFrame

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
         Car   Model  Volume  Weight  CO2
31     Volvo    XC70    2000    1746  117
32      Ford   B-Max    1600    1235  104
33       BMW     216    1600    1390  108
34      Opel  Zafira    1600    1405  109
35  Mercedes     SLK    2500    1395  120

In [ ]:
print(df.info())

print(df.duplicated()) # True for duplicate, otherwise False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB
None
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
dtype: bool

In [3]:
import pandas as pd

df = pd.read_csv('/content/Calories.csv')

#new_df = df.dropna()

print(df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         30  09-12-2020    109       133     195.1
1         45  04-12-2020    109       175     282.4
2         45  05-12-2020    117       148     406.0
3         45  20-12-2020     97       125     243.0
4         45  24-12-2020    105       132     246.0
5         45  24-18-2020     90       112       NaN
6         45         NaN    100       119     282.0
7         50  08-12-2020    104       134     253.3
8         60  02-12-2020    117       145     479.0
9         60  01-12-2020    110       130     409.1
10        60  03-12-2020    103       135     340.0
11        60  06-12-2020    102       127     300.0
12        60  07-12-2020    110       136     374.0
13        60  10-12-2020     98       124     269.0
14        60  11-12-2020    103       147     329.3
15        60  12-12-2020    100       120     250.7
16        60  12-12-2020    100       120     250.7
17        60  13-12-2020    106       128     345.3
18        60  14-12-2020    104       132     379.3
19        60  15-12-2020     98       123     275.0
20        60  16-12-2020     98       120     215.2
21        60  17-12-2020    100       120     300.0
22        60  19-12-2020    103       123     323.0
23        60  21-12-2020    108       131     364.2
24        60  23-12-2020    130       101     300.0
25        60  25-12-2020    102       126     334.5
26        60   2020/12/2    100       120     250.0
27        60  27-12-2020     92       118     241.0
28        60  29-12-2020    100       132     280.0
29        60  30-12-2020    102       129     380.3
30        60  31-12-2020     92       115     243.0
31        50  01-01-2021     92       115       NaN